#header{
    height: auto;
    padding-top: 7rem;
    /* overflow: hidden; */
    text-align: center;
}
.header__container{
    text-align: center;
    height: auto;
    position: relative;
}

/* CTA */
.cta{
    margin-top: 3.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Header Social */
.header__socials{
    /* border: 1px solid red; */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 40px;
}
.header__socials>a{
    color: yellow;
}
#btnTalk{
    background-color: var(--color-primary);
    color: var(--color-bg);
}

/* ME */
#profilePic{
    height: 40%;
    width: 40%;
    margin: auto;
    margin-top: 3rem;
    left: calc(50% - 11rem);
    border-radius:  100%;
    padding: 3rem  1.5rem 1.5rem 1.5rem;
}
.me{
    height: auto;
}
/* scroll down */
.scroll__down{
    position: absolute;
    right: -1.5rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* media Query */
/* medium */
@media screen and (max-width:1024px){
    #header{
        height:auto;
    }
}
/* small */
@media screen and (max-width:600px){
    #header{
        height: auto
    }
    #profilePic{
        width: 90%;
        margin: auto;
    }
    /* .header__socials,
    .scroll__down{
        display: none;
    } */
}